.hoverText {
  display: inline-block;
  transition: transform 0.3s ease;
}

.hoverText:hover {
  transform: scale(1.5) translateY(-5px);
  /* color: #ffb6c1; Optional: Change color on hover */
  color: var(--clr-primary-header-color);
}
